/* =========RESET======== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
		background-color: lightgray;
}


/* ============================== */
/* ===========MAIN STYLES======== */
/* ============================== */


html {
	font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
	border: 1px solid black;
}

.header {
	width: 1200px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}

.game-board {
	padding: 50px 0 50px 0;

}

.title {
	font-size: 2.25rem;
	letter-spacing: 0.8px;
}

.score {
	font-size: 28px;
}

.board {
	width: 400px;
	height: 400px;
	margin-left: 50px;
	margin: 0 auto;
}

.modal-start {
	display: none;
	width: 300px;
	height: 100px;
	padding-bottom: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: lightslategray;
	border-radius: 16px;
	margin: 0 auto;
}

.modal-end {
	display: none;
	width: 200px;
	height: 100px;
	flex-direction: column;
	background-color: lightgreen;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	border-radius: 16px;
	margin: 0 auto;
}

#final-score {
	padding-bottom: 15px;
}

.modal-title {
	letter-spacing: 0.8px;
	font-size: 25px;
	color: rgb(255, 255, 255);
}

.difficulties-buttons-item {
	font-weight: 18px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin: 10px;
}

.difficulties-buttons-item:hover {
	background-color: lightblue;
}

#easy:hover {
	color: green;
}

#normal:hover {
	color: darkorange;
}

#difficult:hover {
	color: red;
}

.launch-game-button {
	font-size: 18px;
	border: none;
	border-radius: 1.25rem;
	padding: 10px;
}

.launch-game-button:hover {
	color: rgb(81, 81, 81);
	background-color: rgb(165, 165, 165);
}